<% unless current_page.last? %>
  <li class="page-item">
    <%= link_to raw('<i class="bi bi-chevron-double-right"></i>'), url, 
        remote: remote, 
        class: 'page-link',
        'aria-label': 'Last page' %>
  </li>
<% else %>
  <li class="page-item disabled">
    <span class="page-link text-muted"><i class="bi bi-chevron-double-right"></i></span>
  </li>
<% end %>