<li class="page-item <%= 'active' if page.current? %>">
  <% if page.current? %>
    <%= content_tag :span, page, class: 'page-link', 'aria-current': 'page' %>
  <% else %>
    <%= link_to page, url, remote: remote, rel: page.rel, class: 'page-link' %>
  <% end %>
</li>